################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PAteam.BrowserPopUpActions.Library/v16/.suo
