################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PAteam.BrowserPopUpActions.Library/v16/.suo
/.vs/PAteam.AcrobatReaderExtended.Library/FileContentIndex/5db00e3a-0aa6-4c48-9542-2eaf73bd2a28.vsidx
